<div id="<%= dom_id product %>">
  <p>
    <strong>Nome:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= product.quantity %>
  </p>

</div>
